
@import url("http://fonts.cdnfonts.com/css/monument-extended");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --preloader: 10%;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #000;
}

.container h1 {
  font-family: "Monument Extended", sans-serif;
  font-size: 100px;
  position: relative;
  -webkit-text-stroke: 1px rgb(240, 240, 240);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: translateY(100%);
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
}

.container h1::before {
  content: attr(data-title);
  position: absolute;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: var(--preloader);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all ease 0.1s;
}

.hide-text {
  display: inline-flex;
  overflow: hidden;
}

.count {
  font-family: "Monument Extended", sans-serif;
  font-size: 300px;
  color: transparent;
  position: absolute;
  -webkit-text-stroke: 1px rgb(145, 145, 145);
  transition: all ease 1s;
  font-weight: 900;
  text-transform: uppercase;
}
