@font-face {
  font-family: "sans-serif";
  src: url("/fonts/rader/PPRader-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  src: url("/fonts/rader/PPRader-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  src: url("/fonts/rader/PPRader-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  src: url("/fonts/rader/PPRader-HairlineItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  src: url("/fonts/rader/PPRader-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  src: url("/fonts/rader/PPRader-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  src: url("/fonts/rader/PPRader-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  src: url("/fonts/rader/PPRader-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  src: url("/fonts/rader/PPRader-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  src: url("/fonts/rader/PPRader-ThinItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  src: url("/fonts") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans-serif";
  src: ("-SemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
